* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  Helvetica, Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Header Styling */
header {
    background-color: #ab7adb;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 3rem;
    font-family: "Fredoka One, sans-serif";
    margin: 0px

}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

body > header {
    background-color:#663399;
    display: flex;
    height: 17vh;
    align-items: center;
    justify-content: space-evenly ;
    color: azure;
}

#nav-ul {
    display: flex;
}

#nav-ul > li { 
    padding: 8px;
    margin: 12px;
    display: inline-block;
}

body > header > nav > ul {
    list-style:none ;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}


/* Recipe Section */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.recipe h2 {
    font-size: 2rem;
    color: #801fe0;
    margin-bottom: 10px;
}

.recipe h3 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ab7adb;
}

.recipe ul {
    list-style-type: disc;
    margin-left: 40px;
}

.recipe ol {
    margin-left: 20px;
}

.recipe ol li {
    margin-bottom: 15px;
}

.recipe ol li strong {
    color: #663399;
}

/* Footer Styling */
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #cfa2fd;
    font-size: 0.9rem;
}

footer p {
    color: #555;
}
#footer-ul { 
    list-style: none;
 }

 #footer-ul > div > li {
    margin-left: 12px;
 }

 #footer-ul > div > li > a { 
    color: white;
    text-decoration: none;
 }

 img {
    border-radius:10%  ;
    align-items: center;
 }


.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



